COMPOSE_PROJECT_NAME=prosmebel-parse-price

MONGO_URI=mongodb://admin:admin@mongo:27017/prosmebel?authSource=admin
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=admin
MONGO_DATABASE=prosmebel

REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_URL=amqp://admin:JQ23%40rq@rabbitmq:5672
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin

JWT_SECRET=JWT_SECRET
JWT_EXPIRES_IN=7d

DEFAULT_ADMIN_LOGIN=admin
DEFAULT_ADMIN_PASSWORD=admin

BACKEND_PORT=3000
FRONTEND_PORT=5173
VITE_API_URL=http://localhost:3000

EXTERNAL_PRICE_API_URL=https://prosmebel.ru
VITE_EXTERNAL_PRICE_API_URL=https://prosmebel.ru
EXTERNAL_PRICE_TOKEN=62e2c239-371b-4498-995e-f190a4965e81
